/*
Theme Name: Candidate
Description: Custom theme for Candidate site
Author: Andreas (snart) hos Aptum
Author URI: mailto:andreas@xpressprint.no
Template: suki
Version: 1.0.0
*/

/* Change body background color */
body {
  background: #f7f2df;
}

/* Make main page element transparent so body background is visible */
#page {
  background-color: transparent;
}
